{% extends "base.html" %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-3 d-flex align-items-center" style="padding: 1rem">
            <img
              src="https://images.gr-assets.com/characters/1264613782p8/1783.jpg"
              class="img-fluid rounded-start"
              alt="프로필 이미지"
            />
          </div>
          <div class="col-md-9">
            <div class="card-body">
              <h5 class="card-title">이름: 홍길동 루크 스카이워커</h5>
              <p class="card-text">광선검을 사용합니다</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
